/*!
 * AO20 Custom Styles - https://www.ao20.com.ar
 */

/* Text Colors  ============================ */

    .text-yellow-ao20, .hover\:text-yellow-ao20:hover { color: #ECC12C !important; }
    .text-golden-ao20, .hover\:text-golden-ao20:hover {
        background: linear-gradient(180deg, #ECC12C 10%, #FFEA9F 33.28%, #AB880F 72.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

/* Background Colors  ============================ */

    .bg-yellow-ao20, .hover\:bg-yellow-ao20:hover { background-color: #ECC12C !important; }
    .bg-brown-texture { background-image: url('@/assets/img/background-brown.jpg'); }
    .bg-gray-texture { background-image: url('@/assets/img/background-gray.jpg'); }
    .bg-divider-texture { background-image: url('@/assets/img/horizontal_line.jpg'); }
    .bg-image-texture { background-image: url('@/assets/img/background-image.jpg'); background-size: cover; background-position: center center; }

/* Wiki  ============================ */

    /* Markers */

    .box-marker-yellow {
        -webkit-box-shadow: -5px 0px 0px 0px #ECC12C;
        box-shadow: -5px 0px 0px 0px #ECC12C;
    }
    .box-marker-red {
        -webkit-box-shadow: -5px 0px 0px 0px #a52b24;
        box-shadow: -5px 0px 0px 0px #a52b24;
    }
    .box-marker-brown {
        -webkit-box-shadow: -5px 0px 0px 0px #7f5130;
        box-shadow: -5px 0px 0px 0px #7f5130;
    }
    .box-marker-orange {
        -webkit-box-shadow: -5px 0px 0px 0px #ca7f31;
        box-shadow: -5px 0px 0px 0px #ca7f31;
    }

/* Custom AO20 Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
        .color-icon {
            display: inline-block;
            background-size: contain;
        }
        .color-icon-sm { width: 25px; height: 25px; }
        .color-icon-md { width: 40px; height: 40px; }
        .color-icon-lg { width: 55px; height: 55px; }

        .color-icon-gold { background-image: url('@/assets/img/wiki/ico-color-gold.png'); }
        .color-icon-maxhit { background-image: url('@/assets/img/wiki/ico-color-maxhit.png'); }
        .color-icon-minhit { background-image: url('@/assets/img/wiki/ico-color-minhit.png'); }
        .color-icon-dosmanos { background-image: url('@/assets/img/wiki/ico-color-dosmanos.png'); }
        .color-icon-unamano { background-image: url('@/assets/img/wiki/ico-color-unamano.png'); }
        .color-icon-apunala { background-image: url('@/assets/img/wiki/ico-color-apunala.png'); }
        .color-icon-madera { background-image: url('@/assets/img/wiki/ico-color-madera.png'); }
        .color-icon-maderaelfica { background-image: url('@/assets/img/wiki/ico-color-maderaelfica.png'); }
        .color-icon-lingotehierro { background-image: url('@/assets/img/wiki/ico-color-lingotehierro.png'); }
        .color-icon-lingoteplata { background-image: url('@/assets/img/wiki/ico-color-lingoteplata.png'); }
        .color-icon-lingoteoro { background-image: url('@/assets/img/wiki/ico-color-lingoteoro.png'); }
        .color-icon-carpintero { background-image: url('@/assets/img/wiki/ico-color-skillcarpintero.png'); }
        .color-icon-herrero { background-image: url('@/assets/img/wiki/ico-color-skillherrero.png'); }
        .color-icon-mindef { background-image: url('@/assets/img/wiki/ico-color-mindef.png'); }
        .color-icon-maxdef { background-image: url('@/assets/img/wiki/ico-color-maxdef.png'); }
        .color-icon-def { background-image: url('@/assets/img/wiki/ico-color-def.png'); }
        .color-icon-minlvl { background-image: url('@/assets/img/wiki/ico-color-minlvl.png'); }
        .color-icon-resistenciamagica { background-image: url('@/assets/img/wiki/ico-color-resistenciamagica.png'); }
        .color-icon-skills { background-image: url('@/assets/img/wiki/ico-color-skills.png'); }
        .color-icon-velocidad { background-image: url('@/assets/img/wiki/ico-color-velocidad.png'); }
        .color-icon-tirable { background-image: url('@/assets/img/wiki/ico-color-tirable.png'); }
        .color-icon-notirable { background-image: url('@/assets/img/wiki/ico-color-notirable.png'); }
        .color-icon-transferible { background-image: url('@/assets/img/wiki/ico-color-transferible.png'); }
        .color-icon-notransferible { background-image: url('@/assets/img/wiki/ico-color-notransferible.png'); }
        .color-icon-nosecae { background-image: url('@/assets/img/wiki/ico-color-nosecae.png'); }
        .color-icon-secae { background-image: url('@/assets/img/wiki/ico-color-secae.png'); }
        .color-icon-minhp { background-image: url('@/assets/img/wiki/ico-color-minhp.png'); }
        .color-icon-maxhp { background-image: url('@/assets/img/wiki/ico-color-maxhp.png'); }
        .color-icon-hp { background-image: url('@/assets/img/wiki/ico-color-hp.png'); }
        .color-icon-subehp { background-image: url('@/assets/img/wiki/ico-color-subehp.png'); }
        .color-icon-skillsmagia { background-image: url('@/assets/img/wiki/ico-color-skillsmagia.png'); }
        .color-icon-mana { background-image: url('@/assets/img/wiki/ico-color-mana.png'); }
        .color-icon-stamina { background-image: url('@/assets/img/wiki/ico-color-stamina.png'); }
        .color-icon-vara { background-image: url('@/assets/img/wiki/ico-color-vara.png'); }
        .color-icon-duraefecto { background-image: url('@/assets/img/wiki/ico-color-duraefecto.png'); }
        .color-icon-exp-given { background-image: url('@/assets/img/wiki/ico-color-exp-given.png'); }
        .color-icon-exp-given-clan { background-image: url('@/assets/img/wiki/ico-color-exp-given-clan.png'); }

/* Loading Spinner
–––––––––––––––––––––––––––––––––––––––––––––––––– */

        #circularG{
            position:relative;
            width:45px;
            height:45px;
            margin: auto;
        }

        .circularG{
            position:absolute;
            background-color:rgb(230,186,25);
            width:10px;
            height:10px;
            border-radius:7px;
            -o-border-radius:7px;
            -ms-border-radius:7px;
            -webkit-border-radius:7px;
            -moz-border-radius:7px;
            animation-name:bounce_circularG;
            -o-animation-name:bounce_circularG;
            -ms-animation-name:bounce_circularG;
            -webkit-animation-name:bounce_circularG;
            -moz-animation-name:bounce_circularG;
            animation-duration:0.818s;
            -o-animation-duration:0.818s;
            -ms-animation-duration:0.818s;
            -webkit-animation-duration:0.818s;
            -moz-animation-duration:0.818s;
            animation-iteration-count:infinite;
            -o-animation-iteration-count:infinite;
            -ms-animation-iteration-count:infinite;
            -webkit-animation-iteration-count:infinite;
            -moz-animation-iteration-count:infinite;
            animation-direction:normal;
            -o-animation-direction:normal;
            -ms-animation-direction:normal;
            -webkit-animation-direction:normal;
            -moz-animation-direction:normal;
        }

        #circularG_1{
            left:0;
            top:18px;
            animation-delay:0.308s;
            -o-animation-delay:0.308s;
            -ms-animation-delay:0.308s;
            -webkit-animation-delay:0.308s;
            -moz-animation-delay:0.308s;
        }

        #circularG_2{
            left:4px;
            top:4px;
            animation-delay:0.404s;
            -o-animation-delay:0.404s;
            -ms-animation-delay:0.404s;
            -webkit-animation-delay:0.404s;
            -moz-animation-delay:0.404s;
        }

        #circularG_3{
            top:0;
            left:18px;
            animation-delay:0.51s;
            -o-animation-delay:0.51s;
            -ms-animation-delay:0.51s;
            -webkit-animation-delay:0.51s;
            -moz-animation-delay:0.51s;
        }

        #circularG_4{
            right:4px;
            top:4px;
            animation-delay:0.616s;
            -o-animation-delay:0.616s;
            -ms-animation-delay:0.616s;
            -webkit-animation-delay:0.616s;
            -moz-animation-delay:0.616s;
        }

        #circularG_5{
            right:0;
            top:18px;
            animation-delay:0.712s;
            -o-animation-delay:0.712s;
            -ms-animation-delay:0.712s;
            -webkit-animation-delay:0.712s;
            -moz-animation-delay:0.712s;
        }

        #circularG_6{
            right:4px;
            bottom:4px;
            animation-delay:0.818s;
            -o-animation-delay:0.818s;
            -ms-animation-delay:0.818s;
            -webkit-animation-delay:0.818s;
            -moz-animation-delay:0.818s;
        }

        #circularG_7{
            left:18px;
            bottom:0;
            animation-delay:0.914s;
            -o-animation-delay:0.914s;
            -ms-animation-delay:0.914s;
            -webkit-animation-delay:0.914s;
            -moz-animation-delay:0.914s;
        }

        #circularG_8{
            left:4px;
            bottom:4px;
            animation-delay:1.02s;
            -o-animation-delay:1.02s;
            -ms-animation-delay:1.02s;
            -webkit-animation-delay:1.02s;
            -moz-animation-delay:1.02s;
        }



        @keyframes bounce_circularG{
        0%{
        transform:scale(1);
        }

        100%{
        transform:scale(.3);
        }
        }

        @-o-keyframes bounce_circularG{
        0%{
        -o-transform:scale(1);
        }

        100%{
        -o-transform:scale(.3);
        }
        }

        @-ms-keyframes bounce_circularG{
        0%{
        -ms-transform:scale(1);
        }

        100%{
        -ms-transform:scale(.3);
        }
        }

        @-webkit-keyframes bounce_circularG{
        0%{
        -webkit-transform:scale(1);
        }

        100%{
        -webkit-transform:scale(.3);
        }
        }

        @-moz-keyframes bounce_circularG{
        0%{
        -moz-transform:scale(1);
        }

        100%{
        -moz-transform:scale(.3);
        }
        }
