@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #e6b919;
    --silver: #d3d3d3;
    --brown: #392919;
    --bronze: #ba5f37;

    --x: 0;
    --y: 0;
    --w: 0;
    --h: 0;
    --scale: 0;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }

  body {
    font-feature-settings: "lnum";
    @apply text-white overflow-x-hidden tracking-wide;
  }

  @screen xl {
    html {
      font-size: 18px;
    }
  }

  @screen 2xl {
    html {
      font-size: 20px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  select {
    @apply py-2 px-3 border bg-brown outline-none;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #666, #fff, #666);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.75);
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  select:focus {
    @apply outline-none;
    border-image-source: linear-gradient(to right, #8c5d00, #ffbe15, #8c5d00);
  }

  input[type="checkbox"] {
    @apply relative appearance-none w-5 h-5 bg-brown border border-gr border-gr-silver cursor-pointer;
  }

  input[type="checkbox"]:focus {
    @apply outline-none;
  }

  input[type="checkbox"]:checked {
    @apply border-gr-primary;
  }

  input[type="checkbox"]:checked::after {
    content: "";
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border-width: 0 2px 2px 0;
    @apply absolute transform rotate-45 border-primary;
  }

  .btn {
    background-image: url(/assets/img/button-bg-grey.png);
    background-size: cover;
    @apply border-gr transition duration-150 ease-out font-serif font-bold uppercase tracking-wider py-3 px-10 border-2 inline-block;
  }

  .btn:hover:not(:disabled):not(:focus) {
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.2);
  }

  .btn:focus {
    @apply outline-none;
    box-shadow: inset 0 0 20px rgba(255, 190, 21, 0.2);
  }

  .btn-silver {
    @apply border-gr-silver bg-gray-900 text-white;
  }

  .btn-silver:focus {
    @apply border-gr-primary;
  }

  .btn-silver:disabled {
    @apply text-gray-700 border-gray-700;
  }

  .btn-cta {
    background-image: url(/assets/img/button-bg-red.png);
    text-shadow: 0px 2px 0px #000000;
    @apply border-gr-silver py-5 text-2xl lg:text-3xl glow;
  }

  #base {
    background: url("/assets/img/bg_texture.png") repeat;
  }

  a {
    @apply transition-colors duration-150 ease-out;
  }

  .nuxt-link-exact-active:not(.main-title) {
    @apply text-primary;
    text-shadow: 0px 0px 13px #fff;
  }

  .vertical-separator {
    width: 2px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #adadad, rgba(255, 255, 255, 0));
    border-radius: 100%;
  }

  .text-gr {
    @apply bg-clip-text text-transparent bg-gradient-to-t;
  }

  .border-gr {
    border-image-slice: 1;
  }

  .gr-gold {
    @apply from-primary to-white;
  }

  .gr-silver {
    @apply from-silver to-white;
  }

  .border-gr-silver {
    border-image-source: linear-gradient(to right, #666, #fff, #666);
  }

  .border-gr-gold {
    border-image-source: linear-gradient(to right, #8c5d00, #ffbe15, #8c5d00);
  }

  .input-error {
    border-image-slice: intial !important;
    border-image-source: initial !important;
    @apply outline-none border-red-500;
  }

  .input-error:focus {
    @apply outline-none border-red-500;
  }

  .text-shadow {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.65);
  }

  .no-select {
    @apply pointer-events-none;
    user-select: none;
  }

  @screen sm {
    #recovery-form {
      max-width: 640px;
    }
  }

  .lds-dual-ring {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 6px solid #2b6cb0;
    border-color: #2b6cb0 transparent #2b6cb0 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .section-divider {
    display: block;
    background: url(/assets/img/divider.png) center center no-repeat;
    height: 43px;
    width: auto;
  }

  .divider2 {
    background-image: url(/assets/img/divider2.png);
    background-repeat: repeat-x;
    display: block;
    height: 12px;
    width: 100%;
  }

  .section-title {
    @apply text-4xl md:text-5xl lg:text-6xl text-gr gr-gold py-2;
  }

  .border-window {
    @apply border-2 border-gr border-gr-silver;
  }
}

@layer utilities {
  .border-gr {
    border-image-slice: 1;
  }

  .border-gr-silver {
    border-image-source: linear-gradient(to right, #666, #fff, #666);
  }

  .border-gr-primary {
    border-image-source: linear-gradient(to right, #8c5d00, #ffbe15, #8c5d00);
  }

  .glow {
    animation: glow 1s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      box-shadow: 0 0 5px var(--primary), 0 0 5px var(--primary);
    }
    to {
      box-shadow: 0 0 22px var(--primary), 0 0 22px var(--primary);
    }
  }
}

.mobile-menu-enter-active,
.mobile-menu-leave-active {
  transition: all 200ms ease-out;
}
.mobile-menu-enter, .mobile-menu-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(25px);
}
